@import "tailwindcss";

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

body {
  margin: 0;
  padding: 0;
  /* Eliminamos cualquier color por defecto */
  color: unset !important; 
}